{% extends "layout.html.twig" %}

{% block content %}
    <h1>Bienvenido a este ejemplo SuperMolón!</h1>
    <p><a href="{{ app.url_generator.generate('formdata_form') }}">Rellena nuestro formulario</a></p>
{% endblock %}
